*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 850px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    display: none;
}
.image{
    width: 300px;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.image img{
    width: 300px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.card-text{
    margin-left: 25px;
    padding: 15px;
}
.card-text h1{
    font-size: 20px;
    font-weight: 400;
    color: #505f64;
    margin-bottom: 7px;
}
.card-text h2{
    font-size: 36px;
    font-weight: 500;
    color: #0b3f50;
    margin-bottom: 7px;
}
.price{
    font-size: 20px;
    color: #779fac;
    margin-bottom: 10px;
}
.card-text p{
    font-size: 18px;
    font-weight: 400;
    color: #505f64;
    margin-bottom: 20px;
}
.btn{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #0c80a7;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1.5s ease;
}
.btn:hover{
    border-radius: 5px;
    background-color: #a8dbec;
    color: #0c80a7;
    border: 0.5px solid #0c80a7;
}

/***************Ingredients****************/
.ingredients{
    width: 400px;
    height: 550px;
    background-image: url(./images/Easy-Macaroni-Salad-Recipe-1-of-1-8.jpg);
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
}
.ingre-card{
    width: 100%;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    margin-top: 130px;
    padding: 20px;
}
.ingre-card h1{
    font-size: 24px;
    font-weight: 500;
    color: #0b3f50;
    text-align: center;
}
.ingre-card ul{
    padding: 20px 12px 0 20px;
}
.ingre-card ul li{
    margin-bottom: 15px;
    color: #505f64;
}